header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7rem;
  margin-bottom: 2.5rem;
  text-align: center;
  background: #222224;
  padding: 1rem;
  border-radius: 0 0 12px 12px;
}

.borderline {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0 0 20px 20px;
  border-bottom: 2px solid #0f7d0d;
  border-left: 2px solid #0f7d0d;
  border-right: 2px solid #0f7d0d;
  width: 100%;
}

h1 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 0.8rem;
}
