button {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  background-color: #094606;
  border-radius: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  margin-bottom: .7rem;
  white-space: nowrap;
}

button:hover,
.active {
  background-color: #11820d;
}

img {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

span {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-weight: 600;
}
